FRONTEND_URL=http://10.141.95.184:5173/
BACKEND_URL=http://10.145.212.184:5000
# Appium Android Config
ANDROID_DEVICE_NAME=emulator-5554
ANDROID_PLATFORM_VERSION=11.0
ANDROID_APP_PACKAGE=com.example.webapp
ANDROID_APP_ACTIVITY=.MainActivity
